.card{
	padding: 14px;
	width: 341px;
	height: 270px;
	border-radius: 25px;
	background-color: #292D33;
	color: white;
}

.headerCard{
	align-items: center;
	display: flex;
	margin-bottom: 14px;
}

.eventStatus{
	border-radius: 9px;
	width: max-content;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 14px;
	padding-right: 14px;
	margin-right: 14px;
}

.eventText{
	color: #cecece;
	font-size: 13px;
	margin-bottom: 14px;
}

.typeEvent{
	margin-bottom: 14px;
}

.hr{
	margin-top: 20px;
	margin-bottom: 20px;
}

.location{
	margin-bottom: 14px;
}
