.buttons {
  margin-left: auto;
  margin-top: 117px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Evolventa", Arial, sans-serif;

  .clear,
  .show {
    font-family: "Evolventa", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
    background: none;
    border: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
  }

  .clear {
    margin-right: 40px;
  }

  .clear:hover {
    color: rgb(0, 0, 0);
  }

  .show {
    width: 218px;
    height: 60px;
    color: #3169f2;
    border: 1px solid #3169f2;
    border-radius: 20px;
  }

  .show:hover {
    background: #3169f2;
    color: white;
  }
}

.inputs {
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 49px;
  gap: 50px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.2s ease-in-out, opacity 0.3s ease,
    padding-bottom 0.2s;
}

.inputs.visible {
  padding-bottom: 250px;
  max-height: 1000px;
  opacity: 1;
}

.inputs.hidden {
  max-height: 0;
  opacity: 0;
}

.inputs_flex {
  display: flex;
}

.inputs_flex2 {
  display: flex;
  gap: 60px;
}

.search {
  // margin-top: 60px;
  width: 134px;
  height: 65px;
  font-family: "Evolventa", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  background: #3169f2;
  letter-spacing: 1px;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: auto;
}
