.header {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;

  .content {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-left: 30px;
    }

    .elements {
      display: flex;
      gap: 60px;
      margin-left: 7%;

      .elem {
        font-family: "Evolventa", Arial, sans-serif;
        font-size: 16px;
        transition: 0.2s;

        &:hover {
          color: #3169f2;
          cursor: pointer;
        }
      }
    }

    .mobileMenuAndBell {
			cursor: pointer;
      display: flex;
      align-items: center;
			z-index: 999999;

      .bell_block {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #3169f2;
        transition: font-size 0.1s ease, transform 0.1s ease;
				margin-right: 30px;
				margin-left: 10px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .elem {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

	.hr {
		display: block;
		color: #3169F2;
	}
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }

	.hr {
		display: none;
	}
}
