.title {
  font-family: "Evolventa", Arial, sans-serif;
  font-size: 32px;
  margin-top: 49px;

  .unique {
    font-family: "NauryzRedKeds", Arial, sans-serif;
    color: #3169f2;
  }
}

.miniCards {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards {
}
