.footer {
	height: 250px;
  width: 100vw;
  display: flex;
  justify-content: center;
	background-color: #3168f21b;


	.content{
		display: flex;
		justify-content: space-between;
		align-items: center;


		.context{
			margin-left: 112px;

			.text{
				margin-top: 10px;
				color: #333333;
			}
		}
	}
}
